<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container mt-5">
      <div class="jumbotron text-center">
        <h1 class="display-4">Welcome!</h1>
        <p class="lead">
          Welcome to Student Workflow. Easily manage your course schedule manage
          it.
        </p>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h2>Ana İşlevsellikler</h2>
          <ul class="list-group">
            <li class="list-group-item">
              <a href="/add-course" class="btn btn-primary">Yeni Ders Ekleme</a>
            </li>
            <li class="list-group-item">
              <a href="/add-assignment" class="btn btn-primary"
                >Assignment ekleme</a
              >
            </li>
            <li class="list-group-item">
              <a href="/pomodoro" class="btn btn-primary">Pomodoro</a>
            </li>
            <li class="list-group-item">
              <a href="/todo_list" class="btn btn-primary">To-do list</a>
            </li>
            <li class="list-group-item">notlar? belki</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h2>Kullanıcı İşlemleri</h2>
          <p>site tutorial yazısı buraya</p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-6">
          <h2>Özet Bilgiler yap burayı</h2>
          <p>Toplam ders sayısı: 11110</p>
          <p>Çakışan dersler: 112</p>
          <p>Bir sonraki ders: 04 Nisan, 2024</p>
        </div>
        <div class="col-md-6">
          <h2>Görsel Ögeler</h2>
          <!-- Buraya görsel ögeler veya grafikler eklenebilir -->
        </div>
      </div>
    </div>
    <div class="container">
      <footer
        class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
      >
        <p class="col-md-4 mb-0 text-body-secondary">© 2024 KTZcoding, Inc</p>

        <a
          href="/"
          class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
        >
          <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
          </svg>
        </a>

        <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-body-secondary">Home</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-body-secondary">Features</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-body-secondary">Pricing</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-body-secondary">FAQs</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-body-secondary">About</a>
          </li>
        </ul>
      </footer>
    </div>
    <!-- Diğer içerikler -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
